*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

#main{
    padding: 30px 200px;
}
#header{
    height: 200px;
    background-color: rgb(3, 111, 81);
    display: flex;
}
.logo{
   height: 200px;
   width: 200px;
   padding: 20px 0px;
   border-radius: 0 85px 85px 0 ;
}
.header-ct{
    margin-left: 20px;
    padding: 60px 0;
}

.header-ct li{
    color: #fff;
    list-style-type: none;
    text-transform: uppercase;
    line-height: 1.75;
}
.tt1{
    font-size: 30px;
    text-align: center;
}
.tt2{
    font-size: 15px;
    opacity: 0.5;
    letter-spacing: 4px;
}
#content{
    /* height: 1000px; */
    margin-top: 10px;
    padding: 20px;
    background-color: #eeeaea;
    display: flex;
}
.content-1{
    background-color: #fff;
    height: 1000px;
    width: 30%;
}
.contact{
    padding: 20px;
}
.contact-tt,
.skill-tt{
    color: #fff;
    line-height: 40px;
    width: 90px;
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(3, 111, 81);
    border-radius: 0 20px 20px 0 ;
}
.contact-ct{
    display: flex;
}
.list-contact-1{
    width: 15%;
    list-style-type: none;
    padding: 20px 10px;
}
.list-contact-1 li{
    line-height: 1.92;
}
.list-contact i{
    margin-right: 7px;
    font-weight: 900;
    font-size: 18px;
}
.list-contact-2{
    width: 85%;
    list-style-type: none;
    padding: 20px 10px;
}
.skill,
.certificate{
    padding: 0 20px 20px 20px;
}
.skill-ct{
    padding: 20px 10px;
}
.skill-ct p{
    text-transform: uppercase;
    line-height: 1.5;
}
.list-square-1,
.list-square-2,
.list-square-3,
.list-square-4{
    margin-top: 7px;
    margin-bottom: 25px;
    display: flex;
    background-color: #eeeaea;
}
.skill-1{
    height: 7px;
}
.certificate-tt{
    color: #fff;
    line-height: 40px;
    width: 130px;
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(3, 111, 81);
    border-radius: 0 20px 20px 0 ;
}
.certificate-ct{
    padding: 20px 10px;
}
.certificate-ct b{
    text-transform: uppercase;
}
.certificate-ct i{
    color: rgb(1, 172, 124);
}
.certificate-ct ul{
    margin-top: 10px;
    margin-bottom: 25px;
}
.certificate-ct li{
    font-size: 15px;
    line-height: 1.75;
}
.content-2{
    height: 1000px;
    width: 70%;
}
.introduce{
    margin-left: 10px;
    margin-right: 20px;
    background-color: #fff;
}
.introduce-tt{
    display: flex;
}
.tt-3,
.tt-5,
.tt-7{
    height: 50px;
    width: 20px;
    background-color: rgb(3, 111, 81);
}
.tt-4,
.tt-6{
    line-height: 50px;
    margin-left: 15px;
}
.tt-4 p,
.tt-6 p{
    font-size: 20px;
    color: rgb(3, 111, 81);
    font-weight: 700;
}
.introduce-ct p{
    padding: 10px 30px 10px 30px;
    line-height: 1.5;
}
.experience{
    margin: 10px 20px 0 10px;
    background-color: #fff;
}
.experience-tt{
    padding-top: 15px;
    display: flex;
}
.CV{
    width: 100%;
    padding: 30px 20px 10px 30px;
}
.CV p{
    display: inline-block;
    color: rgb(1, 172, 124);
}
.CV p i{
    font-size: 10px;
}
.experience-ct b{
    padding: 10px 30px 10px 30px;
    line-height: 1.5;
}
.experience-ct ul{
    padding: 10px 30px 10px 30px;
    line-height: 1.5;
}
.experience-ct ul li{

}
.footer{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    background-color: #fff;
}

